@{ 
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@model IEnumerable<GummyBearKingdom.Models.Country>


<div class="country-box">

    @foreach(var country in Model)
    {
        <div class="box">
        <p>@country.Name @Html.ActionLink("Edit", "Edit", new { id = country.CountryId }) @Html.ActionLink("Delete", "Delete", new { id = country.CountryId }) </p>
        </div>
    }
</div>


<p>@Html.ActionLink("Add new Country", "Create")</p>
<p>@Html.ActionLink("The Code Player", "Index", "Accordion")</p>